.pictureOffice {
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.titleItem {
    font-size: 20px;
    font-weight: bold;
}
.tag {
    padding: 10px;
    font-size: 18px;
    background-color: #e7e7e7;
    border-radius: 25px;
    color: #383838;
    text-decoration: none;
    &:hover {
        background-color: #d1d1d1;
    }
}

.contactBlock {

}
@media screen and (max-width: 768px) {
    .contactBlock {
        flex-wrap: wrap;
        margin-top: 30px;
        .pictureBlock {
            order: 1;
        }
    }
    .mainTitle {
        display: none;
    }
}
