.headerWrapper {
    display: flex;
    gap: 15px;
    justify-content: center;
    align-content: center;
}
.logoWrapper {
    width: 30%;
}

.navWrapper {
    display: flex;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
    .logo {
        width: 35px;
        height: 35px;
    }
}

.navLink {
    display: block;
    padding: 8px 16px;
    color: #007dfd;
    text-decoration: none;
    background-color: transparent;
    border-radius: 5px;
    cursor: pointer;

    &.active {
        color: white;
        background-color: #007dfd;
        border-radius: 5px;
    }
}
