.modalWrapper {
    padding: 24px 30px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 50px;
}
.pictureItem {
    width: 100%;
}
.rootModal {
    max-width: fit-content !important;
}

.iconClose {
    position: absolute;
    right: 10px;
    z-index: 5000;
    top: 10px;
    cursor: pointer;
    height: 30px;
    width: 30px;
}

.formTitle {
    font-size: 24px;
    color: #383838;
    font-weight: 600;
    text-align: center;
    margin-bottom: 10px;
}

.formSubTitle {
    text-align: center;
    color: #586973;
    font-size: 16px;
    margin-bottom: 24px;
}

.fieldsWrapper {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.infoContainer, .formContainer {
    flex: 1;
}
.rowGroup {
    display: flex;
    gap: 10px;
    .formBlock {
        flex: 1;
    }
    &.minGap {
        gap: 5px;
    }
    &.wrap {
        flex-wrap: wrap;
    }
}
.ralBlock {
    color: white;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
    padding: 5px;
    font-size: 12px;
    &.active {
        border: 1px solid #007dfd;
    }
    &.colorBlack {
        color: black;
    }
}
.detailWrapper {
    display: flex;
    flex-direction: column;
    gap: 8px;
}
@media screen and (max-width: 768px) {
    .modalWrapper {
        flex-direction: column;
        gap: 20px;
    }
    .formContainer {
        width: 100%;
    }
}
